<div id="notifications_menu" data-controller="dropdown">
  <!-- subscribe to the current_user stream -->
  <%= turbo_stream_from current_user %>

  <button class="btn position-relative text-white" data-bs-toggle="dropdown">
    <%= lucide_icon("bell") %>
    <span id="notifications_count" class="badge bg-danger position-absolute top-0 start-100 translate-middle">
      <%= @notifications.count %>
    </span>
  </button>

  <ul id="notifications_list" class="dropdown-menu dropdown-menu-end">
    <%= render partial: "shared/notification_item", collection: @notifications, as: :notification %>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= button_to "Mark all as read",
                    mark_all_read_notifications_path,
                    method: :patch,
                    remote: true,
                    class: "dropdown-item text-center" %>
    </li>
  </ul>
</div>
