  <main class="container py-4">
    <% if flash[:notice].present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <section class="card shadow-lg border-0 mb-5 show-page-card">
      <div class="row g-0 align-items-stretch">
        <div class="col-md-7 p-0">
          <% if @event.photo.attached? %>
            <%= image_tag @event.photo, class: "img-fluid event-detail-img", alt: "Event Image: #{@event.title}" %>
          <% else %>
            <%= image_tag "test_pic.jpg", class: "img-fluid event-detail-img", alt: "No image available" %>
          <% end %>
        </div>
        <div class="col-md-5">

          <div class="card-body p-4 p-md-5">
            <h1 class="card-title fw-bold event-title-underline mb-4">
              <%= @event.title %>
            </h1>

            <div class="d-flex align-items-center mb-2">
              <span class="me-3"><%= lucide_icon('calendar-heart') %></span>
              <p class="card-text mb-0">
                <%= @event.date.strftime("%B %d, %Y") %>
              </p>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="me-3"><%= lucide_icon("clock-#{@event.time.strftime('%-I')}") %></span>
              <p class="card-text mb-0">
                <%= @event.time.strftime("%I:%M %p") %>
              </p>
            </div>

            <% if @event.venue.present? %>
              <div class="d-flex align-items-center mb-2">
                <span class="me-3"><%= lucide_icon('store') %></span>
                <p class="card-text mb-0">
                  <%= @event.venue.name %>
                </p>
              </div>
              <div class="d-flex align-items-center mb-4">
                <span class="me-3"><%= lucide_icon('map-pinned') %></span>
                <p class="card-text mb-0">
                  <%= @event.venue.address %>
                </p>
              </div>
            <% end %>

            <div class="d-flex align-items-center mb-4">
              <span class="me-3"><%= lucide_icon('list-music') %></span>
              <p class="card-text mb-0">
              <span><strong><%= @available_slots %> slots</strong> available.</span>
              </p>
            </div>

            <hr class="my-4">
            <h5 class="fw-bold mb-3">About this Event:</h5>
            <p class="card-text mb-4 text-muted event-description">
              <%= @event.description %>
            </p>

            <%# button to book this event, only available if loggedin, if yes, check if this has been booked and return status %>
            <% if user_signed_in? %>
              <% if @has_booked %>
                <div class="mb-4">
                   <% if @booking_status == 'pending' %>
                  <button class="btn btn-secondary w-100" disable><%= @booking_status.capitalize %></button>
                  <div class="text-center w-100"> 🤔 Wait for the update</div>
                  <% elsif @booking_status == 'accepted' %>
                    <button class="btn btn-success w-100" disable><%= @booking_status.capitalize %></button>
                    <div class="text-center w-100"> 😁 Congratulations!</div>
                  <% elsif @booking_status == 'declined' %>
                    <button class="btn btn-danger w-100 text-white" disable><%= @booking_status.capitalize %></button>
                    <div class="text-center w-100"> 😔 Sorry...</div>
                  <% end %>
                </div>
              <% else %>
               <%= simple_form_for [@event, Booking.new], html: { class: 'form-horizontal' } do |f| %>
                  <div class="mb-4">
                    <%= f.hidden_field :event_id, value: @event.id %>
                    <%= f.button :submit, "Book Now", class: "btn btn-outline-primary w-100" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>


            <div class="mt-4 text-center text-muted small">
              Share the fun:
              <a href="#" class="text-decoration-none mx-2"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-decoration-none mx-2"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-decoration-none mx-2"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
