

<% if current_user.role == 'musician' %>
  <div class="container mt-4">
    <div class="p-3 mb-2 bg-light rounded-3">
      <h2>My Bookings</h2>
    </div>
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
      <th>Date</th>
      <th>Venue</th>
      <th>Event</th>
      <th>Booking Status</th>
    </tr>
  </thead>
  <tbody>
 <% @bookings_as_musician.each do |booking| %>
    <tr>
      <td><%= booking.event.date %></td>
      <td><%= booking.event.venue.address %></td>
      <td><%= booking.event.title %></td>
      <td><%= booking.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% elsif current_user.role == 'organiser' %>
  <div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h2>My Events</h2>

  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
      <th>#</th>
      <th>Musician/ Band name</th>
      <th>Date</th>
      <th>Event</th>
      <th>Action</th>
      <th>Booking Status</th>
    </tr>
  </thead>
  <tbody>
   <% @bookings_as_organiser.each do |booking|%>

    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.user.name %></td>
      <td><%= booking.event.date %></td>
      <td><%= booking.event.title %></td>
      <td><div class="input-group justify-content-center">
        <%= simple_form_for [booking] do |f| %>
          <%= f.submit "Accept", class: "btn btn-outline-success rounded-pill btn-lg m-2" %>
          <%= f.submit "Decline", class: "btn btn-outline-danger rounded-pill btn-lg m-2" %>
        <% end %>
      </div></td>
      <td><%= booking.status %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
<% end%>
</div>
