<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="d-grid">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
